@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  width: 100%;
  padding: 2rem;
}

.menu {
  position: fixed;
  z-index: 1000;
  width: 150px;
  background: #1b1a1a;
  border-radius: 5px;
  display: none;
  list-style: none;
}

.menu.open {
  display: block;
}

.menu .menu-item {
  padding: 8px 10px;
  font-size: 1rem;
  color: #eee;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
  border-radius: inherit;
}

.menu .menu-item:hover {
  background: #343434;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
}

.message {
  justify-content: end;
}

.modal {
  align-self: flex-end;
  background-color: black;
  border-radius: 15px;
  font-size: 2rem;
  padding: 10px;
  color: white;
}

.timer {
  font-size: 1rem;
  background-color: #1b1a1a;
  height: 200px;
  width: 300px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  padding: 30px 10px;
  display: flex;
  justify-content: space-around;
  border-radius: 15px;
  border-color: black;
  border-style: solid;
  color: #eee;
}

#input {
  padding-top: 25%;
  padding-left: 5px;
  position: absolute;
  display: inline-block;
}

.input-form {
  margin-left: 10px;
}

.btn {
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  padding: 15px 10px;
  display: flex;
  justify-content: space-around;
}

.hidden {
  opacity: 0;
}

.timerModal {
  font-size: 1rem;
  right: 0;
  bottom: 0;
  position: fixed;
  width: 200px;
  height: 75px;
  margin-bottom: 10px;
  margin-right: 10px;
  border-style: solid;
  border-radius: 15px;
  background-color: #1b1a1a;
}

.timerHidden {
  opacity: 0;
}

.modalText {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  padding: 25px 10px;
  display: flex;
  justify-content: space-around;
  font-family: "Roboto", sans-serif;
  color: #eee;
}

.btn :hover {
  cursor: pointer;
  background-color: #343434;
}

img {
  width: 15px;
  height: 15px;
  top: 0;
  right: 0;
  position: absolute;
  z-index: 999;
  padding-right: 5px;
  padding-top: 5px;
}

img :hover {
  cursor: pointer;
}

button {
  background-color: #1b1a1a;
  color: #eee;
  border-style: solid;
  border-color: #eee;
  border-radius: 15px;
  padding: 10px;
}

.inputModal {
  font-size: 1rem;
  background-color: #1b1a1a;
  height: 200px;
  width: 300px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  padding: 30px 10px;
  display: flex;
  justify-content: space-around;
  border-radius: 15px;
  border-color: black;
  border-style: solid;
  color: #eee;
}
